*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(src/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container{
    width: 100%;
    max-width: 900px;
    background-color: rgba(255, 255 , 255  , 0.9);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(20, 50, 100, 0.25);
}

.header{
    background-color:  rgba(8, 16, 56, 0.85);
    color: var(--cor-branca);
    padding: 30px;
    border-bottom: 2px solid var(--cor-borda-suave);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.title-top svg{
    width: 40px;
    height: 40px;
    color: var(--cor-branca);
    flex-shrink: 0;
}

.title h1{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 3px;
    }

.informacoes{
    padding: 40px;
}

.informacoes h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.info-inspecao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon-inspecao{
    width: 24px;
    height: 24px;
    background-color:  var(--cor-branca);
    border-radius: 50%;
    font-size: 18px;
}

.icon-inspecao svg{
    color: var(--cor-cobre);
    width: 20px;
    height: 20px;
    margin: 2px;
}

.info-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.info-item{
    display: flex;
    align-items: center;
    background-color: var(--cor-borda-padrao);
    gap: 10px;
    border: 2px solid var(--cor-borda-suave);
    border-radius: 8px;
    padding: 15px;
    flex: 1;
    min-width: 250px;
}

.info-item input{
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid var(--cor-borda-padrao);
    font-size: 14px;
    transition: 0.2s;
    margin-top: 5px;
}

.info-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-item {
    flex: 1;
    min-width: 250px;
}

.acoes{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn-inspecao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--cor-fundo-btn-salvar-checklist);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn-inspecao:hover{
    color: var(--cor-preta); 
    border-color: var(--cor-preta);
    background-color: var(--cor-cobre-claro);
}

.btn-inspecao:active{
    transform: scale(0.98);
}


@media (max-width: 1200px){

    .title h1{
        font-size: 1rem;
        font-weight: 800;
    }

    .title p{
        font-size: 0.9rem;
    }

    .info-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .info-content{
        font-size: 0.8rem;
    }

    .informacoes h2 {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .btn-inspecao{
        padding: 12px 30px;
        font-size: 0.9rem;
    }
}