* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background: var(--cor-azul-claro-secundario);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: var(--cor-branca);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(20, 50, 100, 0.5);
}

.login-card h1 {
    color: var(--cor-azul-escuro);
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.login-card h2 {
    color: var(--cor-preta);    
    font-size: 0.95rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--cor-azul-escuro-secundario);
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--cor-borda-padrao);
    border-radius: 10px;
    font-size: 1rem;
}

.login-form input:hover {
    background-color: var(--cor-azul-claro-suave);
    border: 1px solid var(--cor-branca);
}

.entrar {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor-azul-escuro-secundario);
    color: var(--cor-branca);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.entrar:hover {
    background-color: var(--cor-azul);
}


@media (max-width: 600px) {
    .login-card {
        padding: 20px 20px;
    }

    .login-card h1 {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .login-card h2 {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .entrar {
        padding: 10px;
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
}

