* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(src/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(8, 16, 56, 0.85);
    padding: 25px 40px;
    border-bottom: 2px solid #eee;
}

.icon-header svg {
    width: 40px;
    height: 40px;
    color: var(--cor-branca);
    flex-shrink: 0;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-header h1 {
    color: var(--cor-branca);
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

.login-header h2 {
    color: var(--cor-branca);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 8px;
}

.login-card {
    width: 100%;
    max-width: 550px;
    background-color: rgba(255, 255 , 255  , 0.9);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(20, 50, 100, 0.25);
}

.login-form {
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--cor-preta);
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--cor-borda-padrao);
    border-radius: 10px;
    font-size: 1rem;
}

.login-form input:hover {
    background-color: var(--cor-borda-padrao);
}

.login-form input:focus {
    outline: none;
    border-color: var(--cor-preta);
}

.btn-entrar{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor-fundo-btn-salvar-checklist);
    color: var(--cor-branca);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-entrar:hover {
    background-color: var(--cor-fundo-btn-salvar-hover);
}

.btn-entrar:active {
    transform: scale(0.98);
}


@media (max-width: 600px) {

    .login-header {
        padding: 25px;
    }

    .login-form {
        padding: 25px;
    }

    .login-header h1 {
        font-size: 1.4rem;
    }

    .login-header h2 {
        font-size: 0.9rem;
    }
}

