*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-azul-bem-claro);
}

.section{
    margin-bottom: 10px;
}

.header{
    background-color: var(--cor-azul-claro);
    color: var(--cor-azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;  
    margin-bottom: 10px;
    border: 2px solid var(--cor-borda-suave); 
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--cor-preta);
    padding: 6px 12px;
}

.btn-login{
    background-color: var(--cor-branca);
    color: var(--cor-preta);
    border: 1px solid var(--cor-borda-padrao);
    border-radius: 6px;
    padding: 8px 16px;  
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover {
    background-color: var(--cor-btn-login-hover);
    border: 2px solid var(--cor-btn-login-hover-border);
}

.informacoes,
.checklist{
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-borda-suave);
    padding: 20px 25px;
    font-size: 0.8125rem;
}

.informacoes h2,
.checklist h2 {
    margin-bottom: 20px;
}

.checklist-list{
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-borda-padrao);
    margin-top: 10px;
    border-radius: 5px;
}

.checklist-list h3 {
    border: 1px solid var(--cor-borda-padrao);
    background-color: var(--cor-azul-claro-suave);
    border-radius: 5px;
    padding: 7px;
}

.icon-inspecao{
    width: 24px;
    height: 24px;
    background-color:  var(--cor-verde-agua);
    border-radius: 50%;
    font-size: 18px;
}

.check-higienepessoal,
.check-armazenamento,
.check-manipulacao,
.check-ambiente {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    border: 1px solid var(--cor-borda-suave);
    border-radius: 5px;
}

.check-higienepessoal:hover,
.check-armazenamento:hover,
.check-manipulacao:hover,
.check-ambiente:hover {
    background-color: var(--cor-azul-bem-claro);
}

.info-inspecao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.info-item{
    display: flex;
    align-items: center;
    background-color: var(--cor-azul-bem-claro);
    gap: 10px;
    border: 2px solid var(--cor-borda-suave);
    border-radius: 8px;
    padding: 15px;
    flex: 1;
    min-width: 250px;
}

.info-item input{
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid var(--cor-borda-padrao);
    font-size: 14px;
    transition: 0.2s;
    margin-top: 5px;
}

.info-item input:hover{
    background-color: var(--cor-azul-claro-secundario);
    border: 1px solid var(--cor-azul-petroleo);
}

.info-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-item {
    flex: 1;
    min-width: 250px;
}

.higiene-pessoal,
.armazenamento,
.manipulacao,
.ambiente {
    padding: 20px;
}

.check-numeracao {
    font-weight: 600;
    background-color: var(--cor-azul-marinho);
    color: var(--cor-branca);
    width: 24px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.check-texto{
    flex:1;
}

.acoes{
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.btn-conforme{
    background-color: var(--cor-fundo-btn-conforme);
    border: 1px solid var(--cor-borda-btn-conforme);
    color: var(--cor-texto-btn-conforme);
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.7;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-conforme:hover{
    background-color: var(--cor-fundo-btn-conforme-hover);
    border: 1px solid var(--cor-borda-btn-conforme-hover);
    color: var(--cor-texto-btn-conforme-hover);
    opacity:0.8;
}

.btn-nao-conforme{
    background-color: var(--cor-fundo-btn-nao-conforme);
    border: 1px solid var(--cor-borda-btn-nao-conforme);
    color: var(--cor-texto-btn-nao-conforme);
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.7;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-nao-conforme:hover{
    background-color: var(--cor-fundo-btn-nao-conforme-hover);
    border: 1px solid var(--cor-borda-btn-nao-conforme-hover);
    color: var(--cor-texto-btn-nao-conforme-hover);
    opacity:0.8;
}

.container-salvar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.btn-salvar {
    background-color: var(--cor-fundo-btn-salvar);
    border: 2px solid var(--cor-borda-btn-salvar);
    color: var(--cor-texto-btn-salvar);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-salvar:hover {
    border: 1px solid var(--cor-fundo-btn-salvar-hover);
    border-radius: 10px;
}

.rodape {
    margin-top: 10px;
    padding: 12px;
    background-color: var(--cor-fundo-rodape);
    border: 1px solid var(--cor-borda-padrao);
    text-align: center;
}

.rodape-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 0.75rem;
    color: var(--cor-texto-rodape);
    font-weight: 500;
}

.rodape-conteudo span {
    transition: 0.2s ease;
}

.rodape-conteudo span:hover {
    color: var(--cor-texto-rodape-hover);
}


