*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-azul-bem-claro);
}

.section{
    margin-bottom: 10px;
}

.header{
    background-color: var(--cor-azul-claro);
    color: var(--cor-azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;  
    margin-bottom: 10px;
    border: 2px solid var(--cor-borda-suave); 
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--cor-preta);
    padding: 6px 12px;
}

.checklist{
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-borda-suave);
    padding: 20px 25px;
    font-size: 0.8125rem;
}

.informacoes h2,
.checklist h2 {
    margin-bottom: 20px;
}

.checklist-list{
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-borda-padrao);
    margin-top: 10px;
    border-radius: 5px;
}

summary {
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid var(--cor-borda-padrao);
    background-color: var(--cor-azul-claro-suave);
    border-radius: 5px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::after {
    content: "▼";
    transition: transform 0.3s ease;
}

details[open] summary::after {
    transform: rotate(180deg);
}

.observacao{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.observacao label {
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 600;
}

textarea{
    width: 100%;
    height: 100px;
    border: 1px solid var(--cor-borda-padrao);
    border-radius: 5px;
}

textarea:hover{
    background-color: var(--cor-azul-bem-claro);
    border: 2px solid var(--cor-preta);
}

.btn-salvar-secao{
    background-color: var(--cor-preta);
    border: none;
    color: var(--cor-branca);
    border-radius: 8px;
    padding: 8px 40px 8px 40px;
    cursor: pointer;
    transition: 0.2s;
}

.icon-inspecao{
    width: 24px;
    height: 24px;
    background-color:  var(--cor-verde-agua);
    border-radius: 50%;
    font-size: 18px;
}

.check-higienepessoal,
.check-armazenamento,
.check-manipulacao,
.check-ambiente {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    border: 1px solid var(--cor-borda-suave);
    border-radius: 5px;
}

.check-higienepessoal:hover,
.check-armazenamento:hover,
.check-manipulacao:hover,
.check-ambiente:hover {
    background-color: var(--cor-azul-bem-claro);
}

.higiene-pessoal,
.armazenamento,
.manipulacao,
.ambiente {
    padding: 20px;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.check-numeracao {
    font-weight: 600;
    background-color: var(--cor-azul-marinho);
    color: var(--cor-branca);
    width: 24px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.check-texto{
    flex:1;
}

.acoes{
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.btn-conforme{
    background-color: var(--cor-fundo-btn-conforme);
    border: 1px solid var(--cor-borda-btn-conforme);
    color: var(--cor-texto-btn-conforme);
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.7;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-conforme:hover{
    background-color: var(--cor-fundo-btn-conforme-hover);
    border: 1px solid var(--cor-borda-btn-conforme-hover);
    color: var(--cor-texto-btn-conforme-hover);
    opacity:0.8;
}

.btn-nao-conforme{
    background-color: var(--cor-fundo-btn-nao-conforme);
    border: 1px solid var(--cor-borda-btn-nao-conforme);
    color: var(--cor-texto-btn-nao-conforme);
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.7;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-nao-conforme:hover{
    background-color: var(--cor-fundo-btn-nao-conforme-hover);
    border: 1px solid var(--cor-borda-btn-nao-conforme-hover);
    color: var(--cor-texto-btn-nao-conforme-hover);
    opacity:0.8;
}

.container-salvar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.btn-salvar {
    background-color: var(--cor-fundo-btn-salvar-checklist);
    border: none;
    color: var(--cor-branca);
    border-radius: 8px;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-salvar:hover {
    border: 1px solid var(--cor-fundo-btn-salvar-hover);
    border-radius: 10px;
}

.rodape {
    margin-top: 10px;
    padding: 12px;
    background-color: var(--cor-fundo-rodape);
    border: 1px solid var(--cor-borda-padrao);
    text-align: center;
}

.rodape-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 0.75rem;
    color: var(--cor-texto-rodape);
    font-weight: 500;
}

.rodape-conteudo span {
    transition: 0.2s ease;
}

.rodape-conteudo span:hover {
    color: var(--cor-texto-rodape-hover);
}

@media (max-width: 1100px) {

    .header .title h1{
        font-size: 1.2rem;
    }

    .header .title p{
        font-size: 0.9rem;
    }

    .checklist h2 {
         font-size: 0.9rem;
    }

    h3 {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .check-higienepessoal,
    .check-armazenamento,
    .check-manipulacao,
    .check-ambiente{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
    }

    .item-info {
        width: 100%;
        background-color: var(--cor-borda-suave);
    }

    .check-texto {
        width: 100%;
      
    }

    .observacao label {
        padding-top: 10px;
        font-size: 0.9rem;
        font-weight: 600;  
        padding-left: 10;
    }

    .acoes {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .btn-conforme,
    .btn-nao-conforme{
        font-size:0.7rem;
        padding: 4px 8px;
        margin: 2px;
    }

    .btn-salvar{
        font-size: 0.8rem;
    }

    .rodape-conteudo span{
        font-size : 0.675rem;
    }

}
/*quebrar em: 1628px*/